packages:
  yum:
    jq: []

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_set_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Create a file to store environment variables
      EB_ENV_FILE="/opt/elasticbeanstalk/deployment/env_vars"
      
      # Get environment variables from EB and format them as exports
      /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\(.value)"' > $EB_ENV_FILE
      
      # Make the file executable
      chmod +x $EB_ENV_FILE

container_commands:
  01_collectstatic:
    command: |
      source /opt/elasticbeanstalk/deployment/env_vars
      sudo -u webapp /var/app/venv/*/bin/python manage.py collectstatic --noinput
  02_migrate:
    command: |
      source /opt/elasticbeanstalk/deployment/env_vars
      sudo -u webapp /var/app/venv/*/bin/python manage.py migrate
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fyn-api.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static