option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fyn-api.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "fyn-api.settings"
    ENVIRONMENT: "production"
    RDS_DB_NAME: "fyn_tech_core"
    RDS_USERNAME: "bevanwsjones"
    RDS_HOSTNAME: "fyn-tech-db-1.cb2e2mggiwmj.eu-north-1.rds.amazonaws.com"
    RDS_PASSWORD: "${RDS_PASSWORD}"
    RDS_PORT: "5432"

container_commands:
  01_collectstatic:
    command: "sudo -u webapp /var/app/venv/*/bin/python manage.py collectstatic --noinput"
  02_migrate:
    command: "sudo -u webapp /var/app/venv/*/bin/python manage.py migrate"
    leader_only: true